<html>
  <app-navbar-admin></app-navbar-admin>  
  <body>

    <div class="pre-loader" *ngIf="loading"></div>
    <div class="header clearfix">
      <div class="header-right">
        <div class="brand-logo">
          <a routerLink="/client">
            
            <!-- 
            <img src="../../../assets/images/logo.png" alt="" class="mobile-logo"> 
            -->
          </a>
        </div>
        <div class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="user-info-dropdown">
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              <span class="user-icon"><i class="fa fa-user-o"></i></span>
              <span class="user-name">{{ userName }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" routerLink="/client/profile" routerLinkActive="active" *ngIf="client_particular"><i class="fa fa-user" aria-hidden="true"></i>Perfil</a>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
            </div>
          </div>
        </div>
        <div class="user-notification">
          <div class="dropdown">
            <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <span class="badge notification-active"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="notification-list mx-h-350 customscroll">
                <ul>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-sidebar-client></app-sidebar-client>
    <div class="main-container">
      <div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10 background_admin">
        <router-outlet></router-outlet>
        <div class="footer-wrap bg-white pd-20 mb-20 border-radius-5 box-shadow animated slideInUp">
          Tals 2018 - 2019 Todos los Derechos Reservados <a href="https://veanx.cl" target="_blank">Desarrollado por Veanx.cl </a>
        </div>
      </div>
    </div>
    <div id="modal_rate" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="color: white; background-color: black;">
                    <h4 class="modal-title" style="color: white;">En base a tú experiencia dale una valoración a nuestro producto para seguir mejorando</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="offset-sm-1 offset-md-1 col-md-2 col-sm-2">
                      <span class="star_rate" (click)="sendRate(1)"><i class="fa fa-star-o" aria-hidden="true"></i></span><br>1 Estrella
                    </div>
                    <div class="col-sm-2 col-md-2">
                      <span class="star_rate" (click)="sendRate(2)"><i class="fa fa-star-o" aria-hidden="true"></i></span><br>2 Estrellas
                    </div>
                    <div class="col-sm-2 col-md-2">
                      <span class="star_rate" (click)="sendRate(3)"><i class="fa fa-star-o" aria-hidden="true"></i></span><br>3 Estrellas
                    </div>
                    <div class="col-sm-2 col-md-2">
                      <span class="star_rate" (click)="sendRate(4)"><i class="fa fa-star-o" aria-hidden="true"></i></span><br>4 Estrellas
                    </div>
                    <div class="col-sm-2 col-md-2">
                      <span class="star_rate" (click)="sendRate(5)"><i class="fa fa-star-o" aria-hidden="true"></i></span><br>5 Estrellas
                    </div> 
                  </div>
                </div><!-- fin modal-body -->
                <div class="modal-footer">
                </div>
            </div><!-- fin modal-content -->
        </div><!-- fin modal-dialog -->
    </div> <!-- fin modal -->
  </body>
</html>
  
    
  
