  <div class="left-side-bar">
    <div class="brand-logo">
      <a href="index.php">
        <img src="../../../../assets/images/deskapp-logo.png" alt="">
      </a>
    </div>
    <div class="menu-block customscroll">
      <div class="sidebar-menu">
        <ul id="accordion-menu">
          <li routerLinkActive="active">
            <a routerLink="/client" class="dropdown-toggle no-arrow">
              <span class="fa fa-tachometer"></span><span class="mtext">Escritorio</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/client/tickets" class="dropdown-toggle no-arrow">
              <span class="fa fa-bell"></span><span class="mtext">Tickets</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/client/interaction" class="dropdown-toggle no-arrow">
              <span class="fa fa-bell"></span><span class="mtext">Empresas Activas</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

