  <div class="left-side-bar">
    <div class="brand-logo">
      <a routerLink="/client">
        <img src="../../../../assets/images/logo.png" alt="" width="80px">
      </a>
    </div>
    <div class="menu-block customscroll">
      <div class="sidebar-menu">
        <ul id="accordion-menu">
          <li routerLinkActive="active">
            <a routerLink="/client" class="dropdown-toggle no-arrow">
              <span class="fa fa-tachometer"></span><span class="mtext">Escritorio</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/client/tickets" class="dropdown-toggle no-arrow">
              <span class="fa fa-bell"></span><span class="mtext">Tickets</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/client/interaction" class="dropdown-toggle no-arrow">
              <span class="fa fa-building-o"></span><span class="mtext">Empresas Activas</span>
            </a>
          </li>
        </ul>
        <br>
        <!-- 
        <p style="color: darkred; padding: 10px;" *ngIf="parrafo">Si desea utilizar el menú responsive <br/> por favor recargue la página</p> -->
      </div>
    </div>
  </div>

