<html>
  <app-navbar-admin></app-navbar-admin>  
  <body>

    <div class="pre-loader" *ngIf="loading"></div>
    <div class="header clearfix">
      <div class="header-right">
        <div class="brand-logo">
          <a routerLink="/admin">
            <img src="../../../assets/images/ico.ico" alt="" class="mobile-logo" width="60px"> 
          </a>
        </div>
        <div class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="user-info-dropdown">
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              <span class="user-icon"><i class="fa fa-user-o"></i></span>
              <span class="user-name">{{ userName }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" routerLink="/admin/profile" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i>Perfil</a>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
            </div>
          </div>
        </div>
        <div class="user-notification">
          <div class="dropdown">
            <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <span class="badge notification-active"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="notification-list mx-h-350 customscroll">
                <ul>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../../assets/images/img.jpg" alt="">
                      <h3 class="clearfix">John Doe <span>3 mins ago</span></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-sidebar-admin></app-sidebar-admin>
    <div class="main-container">
      <div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10 background_admin">
        <router-outlet></router-outlet>
        <div class="footer-wrap bg-white pd-20 mb-20 border-radius-5 box-shadow animated slideInUp">
          Tals 2018 - 2019 Todos los Derechos Reservados <a href="https://veanx.cl" target="_blank">Desarrollado por Veanx.cl </a>
        </div>
      </div>
    </div>
  </body>
</html>
  
    
  
