<div class="pd-20 bg-white border-radius-4 box-shadow mb-30 animated slideInUp">
  <div class="row">
    
    <div class="col-md-5 col-sm-5 text-center offset-md-3">
      <h3>Clientes Registrados</h3> 
    </div>
    <div class="col-md-4 col-sm-4 pull-right">
      <a routerLink="/enterprise/clients/form" routerLinkActive="active" class="btn btn-primary" style="border-radius: 100%" title="nuevo registro" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <div class="row">
    <table class="data-table stripe hover nowrap table">
      <thead>
        <tr>
          <th class="text-center">Usuario</th>
          <th class="text-center">Correo</th>
          <th class="text-center">Activo</th>
          <th class="text-center">Online</th>
          <th class="text-center">Acción</th>
        </tr>
      </thead>
      <tbody class="text-center">
      </tbody>
    </table>
  </div>
</div>