<div class="pd-20 bg-white border-radius-4 box-shadow mb-30 animated slideInUp">
  <div class="row">
    <div class="col-md-5 col-sm-5 text-center offset-md-3">
      <h3>Publicidades de la Empresa</h3> 
    </div>
    <div class="col-md-4 col-sm-4 pull-right">

      <a routerLink="/enterprise/publicity/form" routerLinkActive="active" class="btn btn-primary" style="border-radius: 100%" title="nuevo registro" *ngIf="session.tipo_profile_id != 1" ><i class="fa fa-plus"></i></a>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <div class="row">
    <table class="data-table stripe hover nowrap table">
      <thead>
        <tr>
          <th class="text-center text-primary">Imagen</th>
          <th class="text-center text-primary">Nombre</th>
          <th class="text-center text-primary">Tipo</th>
          <th class="text-center text-primary">Estado</th>
          <th class="text-center text-primary">Acción</th>
        </tr>
      </thead>
      <tbody class="text-center">
      </tbody>
    </table>
  </div>
</div>