  <div class="left-side-bar">
    <div class="brand-logo">
      <a href="index.php">
        <img src="../../../../assets/images/deskapp-logo.png" alt="">
      </a>
    </div>
    <div class="menu-block customscroll">
      <div class="sidebar-menu">
        <ul id="accordion-menu">
          <li routerLinkActive="active">
            <a routerLink="/enterprise" class="dropdown-toggle no-arrow">
              <span class="fa fa-tachometer"></span><span class="mtext">Escritorio</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/enterprise/clients" class="dropdown-toggle no-arrow">
              <span class="fa fa-users"></span><span class="mtext">Clientes</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/enterprise/publicity" class="dropdown-toggle no-arrow">
              <span class="fa fa-camera"></span><span class="mtext">Publicidades</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/enterprise/subscription" class="dropdown-toggle no-arrow">
              <span class="fa fa-calendar"></span><span class="mtext">Subscripciones</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/enterprise/tickets" class="dropdown-toggle no-arrow">
              <span class="fa fa-bell"></span><span class="mtext">Tickets</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/enterprise/interaction" class="dropdown-toggle no-arrow">
              <span class="fa fa-hand-paper-o"></span><span class="mtext">Interacciones</span>
            </a>
          </li>
        </ul>
        <br/>
        <p style="color: darkred; padding: 10px;" *ngIf="parrafo">Si desea utilizar el menú responsive <br/> por favor recargue la página</p>
      </div>
    </div>
  </div>

